/* 1. Design values */
:root {
  --color-text-grey: #959595;
  --color-border-dark: #727272;
  --color-border-light: #848484;
  --color-background-grey: #f0f0f0;
}

/* 2. Base styles */
/*
Use border-box sizing:
  - * is the universal selector, and it matches every element. box-sizing: border-box tells the browser to include content, padding, and border inside the set width.
  - The default behavior has a name too: box-sizing: content-box. With content-box, width applies to the content only, and padding and border are added outside it.
      * {
        box-sizing: content-box;
      }
  - border-box flips that: padding and border are pulled inside the width.
  - Most modern projects make sizing easier with this rule (add it near the top of your CSS).
  - Use border-box in real projects - box-sizing: border-box is a practical default because it makes width and height include padding and border, which usually matches how people expect boxes to behave.
*/
* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  max-width: 1040px;
  margin: 40px auto;
}

h3 {
  margin: 0px;
  /* padding: top right bottom left */
  padding: 12px 16px 8px 16px;
}

p {
 margin: 0px;
}

/* 3. Layout */

.dashboard {
  /*
  display: grid turns .dashboard into a grid container.
  */
  display: grid;
  /*
  grid-template-columns defines the columns. In this case, the first column is 220px wide for the sidebar. The second column is 1fr for the workspace.
    - fr means a fraction of the available space. After the fixed 320px sidebar and the gap are accounted for, 1fr takes the remaining space.
  */
  grid-template-columns: 320px 1fr;
  /*
  gap creates space between grid tracks. You already used gap with Flexbox. In Grid, it creates space between rows and columns.
  */
  gap: 24px;
}

.sidebar {
  border: 2px solid var(--color-border-dark);
  border-width: medium;
  margin: 0px;
}

.sidebar .intro,
.sidebar .projects,
.sidebar .work-experience {
  display: grid;
  border: 2px solid var(--color-border-dark);
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
}

.sidebar .projects .project-links {
  border: 1px solid var(--color-border-light);
  border-left: none;
  border-right: none;
  grid-template-columns: 320px, 1fr;
  /* padding: top right bottom left */
  padding: 8px 16px 8px 16px;
  margin: 0px;
  background-color: var(--color-background-grey);
  text-align: center;
}

.sidebar .work-experience .work-card {
  border: 1px solid var(--color-border-light);
  border-left: none;
  border-right: none;
  grid-template-columns: 320px, 1fr;
  /* padding: top right bottom left */
  padding: 8px 16px 8px 16px;
  margin: 0px;
  background-color: var(--color-background-grey);
  text-align: left;
}

/* 4. Components */
.nav-links {
  font-weight: 500;
  padding-bottom: 16px;
}

.text-gray {
  color: var(--color-text-grey);
  padding-bottom: 16px;
  margin: 0px;
}


