/* 1. DESIGN VALUES */
:root {
  --color-text-grey: #959595;
  --color-border-dark: #727272;
  --color-border-black: #000000;
  --color-border-light: #848484;
  --color-background-grey: #f0f0f0;
  --color-background-white: white;
}

/* 2. BASE STYLES */
/*
Use border-box sizing:
  - * is the universal selector, and it matches every element. box-sizing: border-box tells the browser to include content, padding, and border inside the set width.
  - The default behavior has a name too: box-sizing: content-box. With content-box, width applies to the content only, and padding and border are added outside it.
      * {
        box-sizing: content-box;
      }
  - border-box flips that: padding and border are pulled inside the width.
  - Most modern projects make sizing easier with this rule (add it near the top of your CSS).
  - Use border-box in real projects - box-sizing: border-box is a practical default because it makes width and height include padding and border, which usually matches how people expect boxes to behave.
*/
* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  width: 90%;
  margin: 40px auto;
}

h1,
h2{
  margin: 0px;
  /* padding: top right bottom left */
  padding: 12px 16px 8px 16px;
}

h3 {
  margin: 0px;
  /* padding: top right bottom left */
  padding: 12px 16px 8px 16px;
  background-color: var(--color-background-white);
}

p {
 margin: 0px;
}

/* 3. LAYOUT */

.dashboard {
  /*
  display: grid turns .dashboard into a grid container.
  */
  display: grid;
  /*
  grid-template-columns defines the columns. In this case, the first column is 220px wide for the sidebar. The second column is 1fr for the workspace.
    - fr means a fraction of the available space. After the fixed 320px sidebar and the gap are accounted for, 1fr takes the remaining space.
  */
  grid-template-columns: 320px 1fr;
  /*
  gap creates space between grid tracks. You already used gap with Flexbox. In Grid, it creates space between rows and columns.
  */
  gap: 24px;
}

.sidebar,
.workspace,
.contact-workspace {
  border: 3px solid var(--color-border-black);
  margin: 0px;
}

.contact-dashboard {
  text-align: center;
}

.sidebar .intro,
.sidebar .projects,
.sidebar .work-experience,
.sidebar .education,
.sidebar .reviews,
.workspace .intro {
  display: grid;
  border-bottom: 3px solid var(--color-border-dark);
  text-align: center;
}
.sidebar .reviews {
  border-bottom: none;
  margin-left: 24px;
  margin-right: 24px; 
}

.contact-workspace .intro {
  display: grid;
  text-align: center;
}

.sidebar .projects .project-card,
.sidebar .work-experience .work-card,
.sidebar .education .education-card {
  border-top: 1px solid var(--color-border-dark);
  /* padding: top right bottom left */
  padding: 8px 16px 8px 16px;
  margin: 0px;
  background-color: var(--color-background-grey);
}

.sidebar .projects .project-card {
  text-align: center;
}
.sidebar .work-experience .work-card,
.sidebar .education .education-card {
  text-align: left;
}
.sidebar .reviews .reviews-card {
  border: 1px solid var(--color-border-dark);
  border-radius: 8px;
  border-width: 2px;
  padding: 8px 16px 8px 16px;
  text-align: left;
  background-color: var(--color-background-white);
}

.workspace .intro .contact-grid,
.contact-workspace .intro .contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.workspace .intro .contact-grid .name,
.contact-workspace .intro .contact-grid .name {
  margin: 0px;
  text-align: left;
}

.workspace .intro .contact-grid .links,
.contact-workspace .intro .contact-grid .links {
  margin: 0px;
  /* padding: top right bottom left */
  padding: 12px 16px 8px 16px;
  font-weight: 500;
  text-align: right;
}

.workspace .intro .description {
  margin-bottom: 24px;
}

.workspace .content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  border-bottom: 2px solid var(--color-border-dark);
}

.workspace .content-grid .project-grid,
.workspace .content-grid .work-experience-grid,
.workspace .content-grid .education-grid {
  display: grid;
  grid-auto-rows: min-content;
  border-left: 2px solid var(--color-border-dark);
  border-bottom: 2px solid var(--color-border-dark);
  text-align: left;
  background-color: var(--color-background-grey);
}

.workspace .content-grid .project-grid {
  display: grid;
  border-left: none;
}

.workspace .content-grid .project-grid .project-card-left,
.workspace .content-grid .work-experience-grid .work-card-left,
.workspace .content-grid .education-grid .education-card-left {
  border-top: 1px solid var(--color-border-dark);
  /* padding: top right bottom left */
  padding: 8px 16px 8px 16px;
  margin: 0px;
  text-align: left;
  background-color: var(--color-background-grey);
}

.workspace .workspace-reviews {
  margin-left: 24px;
  margin-right: 24px; 
}
.workspace .workspace-reviews {
  text-align: center;
}
.workspace .workspace-reviews .workspace-reviews-card {
  border: 1px solid var(--color-border-dark);
  border-radius: 8px;
  border-width: 2px;
  padding: 8px 16px 8px 16px;
  text-align: left;
  background-color: var(--color-background-white);
}

/* 4. COMPONENTS */
.nav-links {
  font-weight: 500;
  padding-bottom: 16px;
}

.text-grey {
  color: var(--color-text-grey);
  padding-bottom: 16px;
  margin: 0px;
}

footer {
  text-align: center;
  padding: 16px;
}